@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: .5rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 227, .8);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}